.mail-nav {
    flex-basis: 150px;
    margin-right: 15px;
    min-width: 150px;
    background-color: #fff;
}

.mail-nav .btn-close {
    display: none;
}

.mail-nav-item {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    padding: 10px 0;
    color: #202124;
    text-decoration: none;
}

.mail-nav-item:not(:nth-child(2)) {
    padding-inline-start: 20px;
}

.mail-nav-item.active {
    background-color: #fce8e6;
    color: #d93025;
}

.mail-nav-item:hover:not(.active)  {
    background-color: #f1f3f4;
}

.mail-nav-item:nth-child(2):hover {
    background-color: #fff !important;
}

.mail-nav-item .material-icons-outlined {
    margin-right: 15px;
}


.mail-nav-item-compose {
    padding: 10px 15px; 
    border: 1px solid;
    border-radius: 50px;
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1);
}

.mail-nav-item-compose:hover {
    box-shadow: 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%)
}

@media screen and (max-width:769px) {
    .mail-nav {
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.6s;
    }

    .menu-open .mail-nav {
        transform: translateX(0);
    }

    .mail-nav .btn-close {
        display: flex;
    }
}