.mail-nav {
    flex-basis: 150px;
    margin-right: 15px;
    min-width: 150px;
}

.mail-nav-item {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    padding: 10px 0;
}

.mail-nav-item.active {
    background-color: #fce8e6;
    color: #d93025;
}