.mail-edit {
    height: 100%;
}

.mail-edit-form {
    height: 100%;
}

.mail-edit-form > * {
    margin-bottom: 10px;
}

.mail-edit-form > *:last-child {
    margin-bottom: 0;
}

.mail-edit-body {
    margin: 0;
    flex-grow: 1;
    white-space: break-spaces;
    border-top: 1px solid #ccc;
}

.btn-mail-send {
    background-color: #404040;
    color: white;
    padding: 10px;
    border: unset;
}
