.app-search-criteria {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 100%);
    background-color: #fff;
    width: 380px;
    z-index: 1;
}

.app-search-criteria li {
    padding: 10px;
}

.app-search-lables li {
    flex-grow: 1;
}

.btn.btn-search {
    background-color: royalblue;
    color: #fff;
    border-radius: 15px;
    padding: 10px 15px;
}

@media screen and (max-width:769px) {
    .app-search-criteria {
        transform: translate(-25%, 100%);
    }
    .app-search-criteria li {
      justify-content: center;
    }
}