.app-nav {
    position: relative;
}

.app-nav .material-icons-outlined {
    font-size: 44px;
    cursor: pointer;
}

.app-nav-nav {
    width: 222px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 50px;
    background-color: #fff;
}

.app-nav-nav li {
    padding: 15px;
}

.app-nav-nav li a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width:769px) { 
    .app-nav-nav {
        top: unset;
        bottom: -179px;
        right: -85px;
    }
}