
body {
  background-color: skyblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  color: inherit;
}

.active {
  color: red;
}

.my-active {
  color: rgb(138, 68, 138);
}

