.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.remove-txt-marker {
    user-select: none;
}

.btn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0;
}