.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.remove-txt-marker {
    user-select: none;
}

.main-layout {
    max-width: 1200px;
    margin: auto;
}

@media screen and (max-width:1300px) {
    .main-layout {
        max-width: 800px;
    }
}

@media screen and (max-width:870px) {
    .main-layout {
        max-width: 550px;
    }
}

@media screen and (max-width:650px) {
    .main-layout {
        max-width: 350px;
    }
}

.btn {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0;
}