.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}